* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  Aplicando fonte personalizadas  */
body, input, button {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;

  --webkit-font-smoothing: antialiased;
}